body{
    background: linear-gradient(to right, #FF51B0, gold);
}

.container{
    max-width: 500px;
    margin: auto;
    text-align: center;
    align-content: center;
}

#board{
    width: 510px;
    border: solid 4px rgb(10, 29, 192);
    background: #FF51B0; 
    box-shadow: 5px 8px 18px #444;
}
.row{
    font-size: 0px;
    
}
.col{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #FF51B0;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
}
.squares:hover{
    background: #FF51B0;
    cursor: pointer;
}

.bomba{
    background-image: url(bomba.png);
    background-size: cover;
    background-color: rgb(184, 176, 176);
}

/* .bomba:hover{
    background:rgb(73, 73, 102);
    background-image: url(bomba1.png);
    background-size: cover; 
}*/

.row:last-child .col{
    border-bottom: none;
}
.row .col:last-child {
    border-right: none;
}




/* 

background repeating-linear-gradient(36deg,
  	#ffffff,
  	#ffffff 10px,
  	#E72457 10px,
      #E72457 20px)
      

animation rotating 2s infinite linear


*/