body, html {
    color: #444;
    line-height: 1.8;
    background: white;
}
/* Style the header */
.header {
    padding: 10px 16px;
    background: #AD88C6;
    color: black;
}
  
/* THE INPUT */
#TheInput{ /* THE INPUT CONTAINER */
    border-bottom: 1px solid #AD88C6;
    max-width: 400px;
    margin-bottom: 54px;
}
input{
    color: #444;
    background-color: white;
    text-align: center;
    border: 1px solid #AD88C6;
    width: 80px;
}
.InputStyle{
    margin-top: 0px;
}
.zodiac{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin-top: 24px;
}
/* THE BUTTON */
#zodiac-btn{
    width: 80px;
    color: blue;
    background-color: white;
    border: 1px solid #AD88C6;
}
#zodiac-btn:hover:hover{
    background-color: #FFE6E6;
    border: 1px solid #AD88C6;
}
#zodiac-btn:active{
    color: black;
    background-color: #E1AFD1;
    box-shadow: 0px 1px 5px 1px #AD88C6;
}
.Description{
    margin-top: 16px;
    color: black;
}


.title{
    color: #444;
    font-size: min(max(16px, 3vw), 30px);
    margin-top: 30px;
}
.all-inside{
    height: 100%;
    max-width: 750px;
    margin-bottom: 100px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
}
#btn-coll{
    box-shadow: 2px 2px 5px 1px rgb(224, 85, 85);
}
.inp{
    color: #777;
}



.space-for-c{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.powerby-size{
    font-size: 12px;
}
.for_footer{
    background: goldenrod;
    position: relative;
    width: 100%;
    bottom: -30vh; 
}