body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background: white;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow: 2px 2px 5px 1px #ccc;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}
  
  /* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}
/* Style the button that is used to open and close the collapsible content */
.collaps2 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow: 2px 2px 5px 1px #ccc;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collaps2:hover {
    background-color: #ccc;
}
  
  /* Style the collapsible content. Note: hidden by default */
.content, .contents {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}
#here{
    font-size: 3vmin;
}
.for_footer{
    background: rgba(255, 81, 110, 0.507);
}
.size{
    font-size: 3em;;
}
.top{
    margin-top: 40px;;
    color: #444;
}
#btn-coll{
    box-shadow: 2px 2px 5px 1px rgb(175, 175, 175);
}
#zodiac-btn, #zodiac-btn2, .content{
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px 1px rgb(175, 175, 175);
}
#zodiac-btn:hover, #zodiac-btn2:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
}