@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Eczar&family=Gentium+Plus&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Libre+Baskerville&family=Libre+Franklin&family=Proza+Libre&family=Rubik&family=Taviraj&family=Trirong&family=Work+Sans:wght@600&display=swap');

body, html {
    color: #444;
    line-height: 1.8;
    background: white;
}

.inknut-antiqua-semibold{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
}

/* Style the header */

.header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    gap: 10px;
    padding: 10px;
    background: #AD88C6;
    color: #fbe6e6; 
}
.the-size:link{
    font-size: 1.3em;
    font-family: "Inknut Antiqua", serif;
    grid-column: 1 / span 5;
    margin-left: 16px;
    margin-top: 8px;
    text-decoration: none;
}
.the-size:visited { 
    text-decoration: none; 
} 
.the-size:hover { 
    color: #fbe6e6;
} 
.the-size:active { 
    text-decoration: none; 
}
.socials{
    margin-top: 32px;
    text-align: end;
    margin-right: 40px;
    font-size: 18px;
}
.in:link{
    text-decoration: none;
}
.in:visited{
    text-decoration: none;
}
.in:hover{ 
    color: #fbe6e6;
} 
.in:active{
    text-decoration: none;
}
  
/* THE INPUT */
#TheInput{ /* THE INPUT CONTAINER */
    border-bottom: 1px solid #AD88C6;
    max-width: 400px;
    margin-bottom: 54px;
}
input{
    color: #444;
    background-color: white;
    text-align: center;
    border: 1px solid #AD88C6;
    width: 80px;
}
.InputStyle{
    margin-top: 0px;
}
.zodiac{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin-top: 24px;
}
/* THE BUTTON */
#zodiac-btn{
    width: 80px;
    color: black;
    background-color: white;
    border: 1px solid #AD88C6;
}
#zodiac-btn:hover:hover{
    background-color: #FFE6E6;
    border: 1px solid #AD88C6;
}
#zodiac-btn:active{
    color: black;
    background-color: #E1AFD1;
    box-shadow: 0px 1px 5px 1px #AD88C6;
}
.Description{
    margin-top: 16px;
    color: black;
}


.title{
    color: #444;
    font-size: min(max(16px, 3vw), 30px);
    margin-top: 30px;
}
.all-inside{
    height: 100%;
    max-width: 750px;
    margin-bottom: 100px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
}
#btn-coll{
    box-shadow: 2px 2px 5px 1px rgb(224, 85, 85);
}
.inp{
    color: #777;
}

.space-for-c{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.powerby-size{
    font-size: 12px;
}
#for_footer{
    background-color: #AD88C6;
    width: 100%;
    padding: 10px;
    bottom: 0;
    color: white;
}