body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body{
    background: white;
}
.for_footer{
    background: rgba(255, 81, 110, 0.507);
}
#contact{
    position: absolute;
  bottom: 0;
  width: 100%;
}
.top{
    margin-top: -20px;;
    color: #444;
}
.top-nav{
    opacity: 0.9;
}
#key-1{
    background: rgba(255, 81, 110, 0.493);
    border: 1px solid rgba(105, 90, 205, 0.438); 
    border-radius: 10px;
    min-width: 50px;
    margin-bottom: 5px;
    color: black;
}

.answer{
    padding: 5px;
    margin: 5px;
    text-align: right;
    color: black;
}

.box{
    border: 2px solid rgba(105, 90, 205, 0.445);
    border-radius: 15px;
    background: rgba(137, 43, 226, 0.356);
    min-width: 350px;
    opacity: 0.9;
}
form{
    font-size: 2em;
    color: #444;
}
em{
    font-size: 0.8em;
}
.size{
    font-size: 3em;;
}