body{
    background: rgb(255, 253, 253);
}

#country{
    border-radius: 15px;
    background: rgba(211, 208, 208, 0.897);
}
#cities{
    border-radius: 15px;
    background: rgba(211, 208, 208, 0.897);
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(240, 240, 240); /* Black w/ opacity */
}  
/* Modal Content   */
.modal-content{
    background-color: #f056abdc;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(184, 175, 175);
    width: 50%;

}
