body, html {
    height: 100%;
    color: white;
    line-height: 1.8;
    background: #E8E3CC;
}
.title{
    margin-top: 30px;
    font-size: 1.5em;
    color: #444;
}
.for_footer{
    background: #DB3F29;
}
.powerby-size{
    font-size: 12px;
}

.box{
    position: relative;
    margin-top: 90px;
    margin-bottom: 200px;
}
.box-all{
    background-color: #D7A449;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 250px;
    width: 15vw;
    height: 60vh;
    border-radius: 10px;
}

/* this is the cards sizes and for what it's inside. */
.memory-game {
    width: 500px;
    height: 300px;  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.5em;
}
/* this is the size of the letters for the first game. */
.size-for-l{
    font-size: 2.5em;
}
label{
    color: rgb(0, 0, 0);
    font-style: oblique;
    text-shadow: 1px 2px 2px #0b1f6561;
    margin-bottom: 5px;
    font-size: 1.7vw;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    border-radius: 6px;
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform .5s;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
.memory-card:active {
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    transition: transform .1s;
    -webkit-transition: transform .1s;
}
  
.memory-card.flip {
    transform: rotateY(185deg);
    -webkit-transform: rotateY(185deg);
}
  
.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
   
}
.front-face{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d19;
    font-weight: bold;
    padding: 10px;
    -webkit-background: white;
    background: white;
    -webkit-box-shadow: 2px 2px 5px 1px rgb(175, 175, 175);
    box-shadow: 2px 2px 5px 1px rgb(175, 175, 175);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back-face {
    padding: 20px;
    -webkit-background: #0B1F65;
    background: #0B1F65;
    -webkit-box-shadow: 2px 2px 5px 1px rgb(175, 175, 175);
    box-shadow: 2px 2px 5px 1px rgb(175, 175, 175);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.front-face {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    width: 30%;
    border: 1px solid #D7A449;
    border-radius: 6px;
    -webkit-background: #D7A449;
    background: #D7A449;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(175, 175, 175, 0.774);
    box-shadow: 2px 2px 5px 1px rgba(175, 175, 175, 0.719);
}