* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#FF51B0), to(#27d3fe));  /* colores del fondo */
  background: linear-gradient(to right, #FF51B0, #27d3fe);
}

#header{
  color: #444;
  margin: auto;
  margin-top: 20px;
  max-width: 350px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0.1px;
}
#linea{
  border: 0.1px solid #787878;
  max-width: 95%;
}

#h2{
  color: #444;;
  margin: 10px auto;
  max-width: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1px;
}

#veo{
  text-decoration: none;
  color: #ee09b5ee;
}
#signOut{
  border-radius: 3px;
  width: 20%; /* position */
  max-width: 600px;
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer; 
}

#background__boton2{ /* it has to be inside a div for it to move with the browser size. */
  color: DARKBLUE;
  background: linear-gradient(to right, #FF51B0, #27d3fe);
  border: 1px solid #787878;
  border-radius: 10px;
  cursor: pointer;  
  width: 80px;
}

#colores_names{
  font-size: 0.7em;
}

#backgroundB{ /* it has to be inside a div for it to move with the browser size. */
  width: 20%; /* position */
  max-width: 600px;
  position: absolute;
  top: 25px;
  right: 1px;
}
#hour{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: none;
  width: 100%;
  padding-left: 5px; 
  margin: 4px auto;
  max-width: 600px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
}

.title {
  text-align: center;
  color: #444;
  margin: 2px auto;
}
/* #4ECDC4  chartreuse*/
.calendar {
  border: 1px solid #787878;
  border-radius: 10px;
  background: none;
  width: 60%;
  max-width: 600px;
  margin: 2px auto;
  padding: .5em 0;
}

.calendar-box {  /* para que todo esste alineado  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
  padding: 0.2em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.calendar-prev, .calendar-next { /* para las flechas  &#9664; &#9654; #C7F464*/
  color: #787878;
  cursor: pointer; /* salga la mano cuando lo ponga en sima osea el mouse */
  font-size: 1.5em;
}
.calendar-prev {
  margin-right: auto;
}
.calendar-next {
  margin-left: auto;
}

.calendar-weekDays, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* divide entre 7 columnas */
  grid-gap: 5px; /* para separar entre si */
}
.calendar-month, .calendar-year {
  padding: .5em 1em; /* year y mes esten mas separados */
}
.calendar-item {
  text-align: center;
  line-height: 1.5;
}
.calendar-todaysDay {
  background: none; /* colores de la fecha de hoy */
  color: white;
  width: 60%;
  border-radius: 50%;
  border: 1px solid #787878;
  margin: auto;
}
.calendar-lastMonthDays {
  opacity: .2;
}
#div_notes{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: -15px;

}
#Notes{ 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #444;
  margin-top: 50px;
}
#area_texto{
  border: 1px solid #787878;
  border-radius: 10px;
  background: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  padding: 15px;   
}

/* To-do list */
.to-to-container1{
  width: 50%;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 50px;
  box-sizing: border-box;
}
#p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: bold;
}
.todo-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 10px;
  box-sizing: border-box;

}

.todo-input{
  width: 50%;
  margin: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #787878;
  border-radius: 10px;
  background: none;
}
.todo-button{
  width: 35px;
  color: black;
  cursor: pointer;
  background: none; 
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #787878;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.todo-button:hover{
  background: #787878;
  color: whitesmoke;
}
.todo-button:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
/* Container for the todo list box */
.todo-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  position: relative;
  margin-top: 15px;
}

.todo{
  margin: 0.5rem ;
  background: whitesmoke;
  color: black;
  font-size: 1rem;
  display: flex;
  transition: all 0.5s ease;
}

.todo-list{
  width: -100%;
  margin: 15px auto;
  position: relative;
  left: -20px;
  list-style: none;
  counter-reset: li;
}

li::before{ /* make the to do list have a number */
  content: counter(li);
  color: rgb(136, 8, 12);
  display: inline-block;
  width: 1em;
  margin-left: -1.9em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

li{
  counter-increment: li
}
.todo li{
  flex: 1px;
}
.trash-btn,
.complete-btn{
  width: 20%;
  max-width: 50px;
  min-width: 30px;
  background: #a42704;
  color: whitesmoke;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
}
.complete-btn{
  background: rgb(26, 44, 0);
}
.todo-item{
  padding: 0.5rem 0.8rem;
}
.fa-trash, .fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through red;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

